:root {                    /* light mode colors */
  --background: #f0eeee; /* dark mode background */
  --foreground: #262626;  /* dark mode letras */
}

@media (prefers-color-scheme: dark) { /* dark mode colors */
  :root {
    --background: #212121;
    --foreground: #f0eeee;
  }
}

html, /* 100% height to allow full height backgrounds */
body {
  max-width: 100vw; /* Evitar overflow horizontal */
  overflow-x: hidden; /* Evitar overflow horizontal */
}

body { /* Estilos globais do corpo */
  color: var(--foreground); /* dark mode letras */
  background: var(--background); /* dark mode background */
  font-family: "Figtree", sans-serif; /* Fonte principal */
  -webkit-font-smoothing: antialiased; /* Melhorar a renderização da fonte */
  -moz-osx-font-smoothing: grayscale; /* Melhorar a renderização da fonte */
}

* { /* Reset de margens e paddings */
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

a { /* Estilos para links */
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
